body {
   background-color: #AFCED3;
   font-family: "Oblik-Bold",Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color: #3F4142;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
}
#wrapper #main-header h1{
	margin-bottom: 3.7em;
	width: 322px;
}
#wrapper #main-header h1 a{
   background: url("../img/logoPT.png") no-repeat;
    display: block;
    height: 0;
    width: 321px;
    padding-top: 74px;
    overflow:hidden;
    float:left;
}
#wrapper #main-header .get-going{
    background: url("../img/top_navigation.png") no-repeat;
    text-decoration: none;
    text-align:right;
    padding-top:0.7%;
    padding-right:0.4%;
    color: white;
    height: 32px;
    width: 119px;
    float:right;
    top:10px;
    font-size: 16px;
    margin-top: -8em;
}
#wrapper #main-header .get-going a{
    color:white;
}
#wrapper #main-menu{
    width: 100%;
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    color: #313737;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}   
#main-menu #main-nav{
    float:left;
}
#main-menu #main-nav ul{
    list-style-type: none;
}
/*
#main-menu #main-nav ul{
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    width: 100%;
    color: #313737;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    float:left;
}*/
#main-menu #main-nav ul li{
	float:left;
    border-right: 1px solid #989692;
    padding-right:5px;
    margin-right:1em;
    margin-left:2em;
    font-size:20px;
    height:2em;
    margin-top: -0.5em;
}
#main-menu #main-nav ul li a:visited{
    color: #313737;
}
#main-menu #main-nav ul li a{
	color: #313737;
    text-decoration: none;
    text-align:center;
    display:block;
    margin-left: -2em;
    margin-top: 0.4em;
}
#main-menu #main-nav ul li a:hover {
    text-decoration: underline;
}
#main-menu #main-nav .menu_1{
    margin-left: 0em;
}
#main-menu #main-nav .menu_5{
    border-right: 0 none;
}
#main-menu #social-networks{
    overflow:hidden;
}
#main-menu #social-networks iframe{
    float:right;
    border:none; 
    width:8em; 
    height:2em;
}

#postscript {
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    width: 100%;
}
#footer h2{
    border-right: 1px solid #999999;
    color: #AFCDD2;
    float: left;
    font-size: 16px;
    height: 45px;
    margin: 0 35px 0 0;
    padding: 16px 26px 0 0;
    text-shadow: none;
    vertical-align: middle;
}
#footer {
    background: url("../img/footer_background.png") repeat-x;
    background-color:#414142;
    height: 100%;
    padding: 30px 0;
    width: 100%;
    color:white;
}
#footer h1{
    color: #B3AD9E;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 7px;
    margin-top: 0;
    text-shadow: none;
}
#footer .footer-nav a{
    color: #FAFDFD;
    text-shadow: none;
}
@font-face {
   font-family:"Oblik-Bold";
   src:url("../fonts/Oblik-Bold/Oblik_Bold.eot?") format("eot"),url("../fonts/Oblik-Bold/Oblik_Bold.woff") format("woff"),url("../fonts/Oblik-Bold/Oblik_Bold.ttf") format("truetype"),url("../fonts/Oblik-Bold/Oblik_Bold.svg#Oblik-Bold") format("svg");
   font-weight:normal;
   font-style:normal;
}
    
.button{
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style:solid;
    border-width:3px;
    padding: 5% 10%;
}

.button-green{
    color: #FFFFFF;
    background-image: linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -o-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(5,168,65)),
        color-stop(0.74, rgb(125,176,37)),
        color-stop(0.87, rgb(34,179,63))
    );
}