body {
   background-color: #AFCED3;
   font-family: "Oblik-Bold",Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	color: #3F4142;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
}
#wrapper #main-header h1{
	margin-bottom: 3.7em;
	width: 322px;
}
#wrapper #main-header h1 a{
   background: url("../img/logoPT.png") no-repeat;
    display: block;
    height: 0;
    width: 321px;
    padding-top: 74px;
    overflow:hidden;
    float:left;
}
#wrapper #main-header .get-going{
    background: url("../img/top_navigation.png") no-repeat;
    text-decoration: none;
    text-align:right;
    padding-top:0.7%;
    padding-right:-0.4%;
    color: white;
    height: 32px;
    width: 129px;
    float:right;
    top:10px;
    font-size: 16px;
    margin-top: -8em;
    letter-spacing:-0.5px;
}
#wrapper #main-header .get-going a{
    color:white;
    padding-right:1em;
}
#wrapper #main-menu{
    width: 100%;
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    color: #313737;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}   
#main-menu #main-nav{
    float:left;
}
#main-menu #main-nav ul{
    list-style-type: none;
}
/*
#main-menu #main-nav ul{
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    width: 100%;
    color: #313737;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    float:left;
}*/
#main-menu #main-nav ul li{
	float:left;
    border-right: 1px solid #989692;
    /*padding-top:1em;*/
    padding-right:5px;
    margin-right:1em;
    margin-left:2em;
    font-size:20px;
    height:1.5em;
    margin-top: -0.3em;
    letter-spacing:-0.5px;
}
#main-menu #main-nav ul li a:visited{
    color: #313737;
}
#main-menu #main-nav ul li a{
	color: #313737;
    text-decoration: none;
    text-align:center;
    float:left;
    margin-left: -2em;
    margin-top: 0.2em;
    padding-bottom: 0.1em;
    padding-right:1em;
    padding-left:1em;
}
#main-menu #main-nav ul li a:hover {
    text-decoration: underline;
}
#main-menu #main-nav .menu_1{
    margin-left: 0em;
    margin-right: 0em;
}
#main-menu #main-nav .menu_2{
   margin-right:-0em;
}
#main-menu #main-nav .menu_3{
   margin-right:-0em;
}
#main-menu #main-nav .menu_4{
   margin-right:-0em;
}
#main-menu #main-nav .menu_5{
    border-right: 0 none;
    margin-right:-1em;
}
#main-menu #social-networks{
    overflow:hidden;
    padding: 0.7em 0;
}
#main-menu #social-networks object{
    float:right;
    border:none; 
    width:6.9em; 
    height:2em;
}
#main-menu #social-networks a{
	float:right;
    width:1.5em; 
    height:2em;
}
#main-menu #social-networks .twitter-icon{
    width:3.4em; display: block;
}
#main-menu #social-networks .google-icon{
    width:2em; 
}
#postscript {
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    width: 100%;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
#postscript h1{
    color: #313737;
}
#postscript .menu-postscript{
    font-size:1em;
    float:left;
}
#postscript ul{
    margin-top:-1em;
    list-style:none;
}
#postscript li{
    float:left;
}
#postscript .menu-postscript-1{
    width: 8em;
}
#postscript .menu-postscript-2{
    width: 19em;
}
#postscript .menu-postscript-3{
    width: 4.5em;
}
#postscript .menu-postscript-4{
    width: 19em;
}
#footer {
    background: url("../img/footer_background.png") repeat-x;
    background-color:#414142;
    height: 100%;
    padding: 30px 0;
    width: 100%;
    color:white;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
#footer h1{
    color: #B3AD9E;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 7px;
    margin-top: 0;
    text-shadow: none;
}
#footer h2{
    border-right: 1px solid #999999;
    color: #AFCDD2;
    float: left;
    font-size: 16px;
    height: 45px;
    margin: 0 35px 0 0;
    padding: 16px 26px 0 0;
    text-shadow: none;
    vertical-align: middle;
}
#footer .footer-nav a{
    color: #FAFDFD;
    text-shadow: none;
}
#footer .footer-nav a:hover{
    text-decoration: underline;
}
#footer .menu {
    border-right: 1px solid #999999;
    float: left;
    height: 85px;
    margin-bottom: 25px;
    margin-left: -6em;
    margin-right: 4em;
    padding-left: 40px;
    padding-right: 0;
    width: 110px;
}
#footer .menu ul {
    list-style: none;
    margin-left: -3em;
    width: 8em;display: block;
}
#footer .menu-last {
    float: left;
    height: 85px;
    margin-bottom: 25px;
    padding-left: 40px;
    width: 110px;
}
#footer .menu-last p{
    width: 19em;
        font-weight:normal;
}
#footer .menu-last h6{
    text-indent: -9999px;
}
#footer .menu-last h6 a{
    background: url("../img/footer_logo.png") no-repeat scroll right top transparent;
    display: block;
    float: right;
    height: 5em;
    margin-top: 0em;
    margin-right:-20em;
    width: 5em;
}
#footer .bottom-footer {
    border-top: 1px solid #000000;
    margin-top: 1em;
    font-size: 12px;
}
@font-face {
   font-family:"Oblik-Bold";
   src:url("../fonts/Oblik-Bold/Oblik_Bold.eot?") format("eot"),url("../fonts/Oblik-Bold/Oblik_Bold.woff") format("woff"),url("../fonts/Oblik-Bold/Oblik_Bold.ttf") format("truetype"),url("../fonts/Oblik-Bold/Oblik_Bold.svg#Oblik-Bold") format("svg");
   font-weight:normal;
   font-style:normal;
}
    
.button{
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style:solid;
    border-width:3px;
    padding: 5% 10%;
}

.button-green{
    color: #FFFFFF;
    background-image: linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -o-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(5,168,65)),
        color-stop(0.74, rgb(125,176,37)),
        color-stop(0.87, rgb(34,179,63))
    );
}
