#hiw-info header h1 {
  font-weight: normal;
}
#hiw-content {
  color: #3F4142;
  border: 1% solid #FFFFFF;
  background-color: #D7E9EB;
  padding-top: 1%;
  margin-bottom: 8%;
  border: 0.1em solid #FFFFFF;
}
#hiw-content section {
  padding-left: 1%;
}
#hiw-content section p {
  font-size: 1.2em;
  margin-right: 3%;
}
#hiw-content section .omega {
  margin-left: 1%;
  margin-top: 3%;
}
#hiw-content section div {
  font-family: "OblikBold", Arial, sans-serif;
}
#hiw-content section div strong {
  font-size: 6em;
  margin: 0;
}
#hiw-content section div p {
  font-size: 3em;
  font-weight: normal;
}
#hiw-content section div a {
  font-size: 1.8em;
  font-weight: bold;
  padding: 8% 17%;
}
#hiw-content ul {
  background: #D1E7E4;
  margin: 0;
  padding-left: 0;
  text-align: center;
  width: 100%;
}
#hiw-content ul li {
  margin: 0;
  width: 25%;
}
#hiw-content ul li:not(.omega) {
  background-image: url('../img/hiw-arrow.png');
  background-repeat: repeat-y;
  background-position: right;
}
#hiw-content ul li .omega {
  border-right: none;
}
#hiw-content ul li div:last-child {
  background: #FFFFFF;
  height: 3em;
}
#hiw-content ul li div:last-child a {
  padding-top: 8%;
  vertical-align: middle;
  font-size: 1.2em;
}
#hiw-content ul li .hiw-step-about {
  font-size: 2em;
  height: 3em;
  margin-bottom: 2%;
  color: #3f4142;
}
#hiw-content ul li h2 {
  font-size: 2em;
  font-weight: normal;
}
#hiw-step-specs article:not(:last-of-type) {
  margin-bottom: 4em;
}
#hiw-step-specs article div h2 {
  float: left;
  margin-right: 2%;
}
#hiw-step-specs article div h1 {
  font-size: 42px;
  font-weight: lighter;
  margin: 0;
}
#hiw-step-specs article div p {
  font-size: 1.15em;
}
