@import "variables.less";

#hiw-info header h1{
	font-weight: normal;
}
#hiw-content{
	color: #3F4142;
	border: 1% solid #FFFFFF;
	background-color: #D7E9EB;
	padding-top: 1%;
	margin-bottom: 8%;
	border: 0.1em solid #FFFFFF;
	section{
		padding-left: 1%;
		p{
			font-size: 1.2em;
			margin-right: 3%;
		}
		.omega{
			margin-left: 1%;
		    margin-top: 3%;
		}
		div{
			font-family: @header-font,Arial,sans-serif;
			strong{
				font-size: 6em;
				margin: 0;
			}
			p{
				font-size: 3em;
				font-weight: normal;
			}
			a{
				font-size: 1.8em;
			    font-weight: bold;
			    padding: 8% 17%;
			}
		}
	}
	ul{
		background: #D1E7E4;
	    margin: 0;
	    padding-left: 0;
	    text-align: center;
	    width: 100%;
	    li {
	    	&:not(.omega){
	    		background-image: url('../img/hiw-arrow.png');
				background-repeat: repeat-y;
				background-position: right;
	    	}
	    	margin: 0;
	    	width: 25%;
	    	.omega{
	    		border-right: none;
	    	}
	    	div{
		    	&:last-child{
					background: #FFFFFF;
					height: 3em;
					a{
						padding-top: 8%;
						vertical-align: middle;
						font-size: 1.2em;
					}
				}
			}
			.hiw-step-about{
				font-size: 2em;
				height: 3em;
				margin-bottom: 2%;
				color: @grey-color;
			}
			h2{
				font-size: 2em;
				font-weight: normal;
			}
		}
	}
}

#hiw-step-specs article{
	&:not(:last-of-type){
		margin-bottom: 4em;
	}
	div{
		h2{
			float: left;
    		margin-right: 2%;
		}
		h1{
			font-size: @h1-font-size;
			font-weight: lighter;
			margin: 0;
		}
		p{
			font-size: 1.15em;
		}
	}
}