body {
   background-color: #AFCED3;
   font-family: "Oblik-Bold",Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: #3F4142;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    text-decoration: none;
}
#wrapper #main-header h1{
  margin-bottom: 3.7em;
  width: 322px;
}
#wrapper #main-header h1 a{
   background: url("../img/logoPT.png") no-repeat;
    display: block;
    height: 0;
    width: 321px;
    padding-top: 74px;
    overflow:hidden;
    float:left;
}
#wrapper #main-header a .get-going{
    background: url("../img/top_navigation.png") no-repeat;
    text-decoration: none;
    text-align:center;
    padding-top:0.7%;
    padding-right:-0.4%;
    height: 32px;
    width: 129px;
    float:right;
    margin-top: -8em;
    margin-right:2em;
    letter-spacing:-0.5px;
}
#wrapper #main-header a{
    color:#FFFFFF;
    padding-right:1em;
    text-indent: 2em;
}
#wrapper #main-header a .get-going:hover{
  opacity: 0.8;
}
#wrapper #main-menu {
    background-color: #FFFFFF;
    color: #313737;
    height: 3em;
    margin: 7em -82.1em;
    position: absolute;
    width: 100%;
}  
#main-menu #main-nav{
    float:left;
}
#main-menu #main-nav{
    margin-left: 21.5em;
}
#main-menu #main-nav ul{
    list-style-type: none;
}
/*
#main-menu #main-nav ul{
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 3em;
    width: 100%;
    color: #313737;
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    float:left;
}*/
#main-menu #main-nav ul li{
  float:left;
    border-right: 1px solid #989692;
    /*padding-top:1em;*/
    padding-right:5px;
    margin-right:1em;
    margin-left:2em;
    font-size:20px;
    height:1.5em;
    margin-top: -0.3em;
    letter-spacing:-0.5px;
}
#main-menu #main-nav ul li a:visited{
    color: #313737;
}
#main-menu #main-nav ul li a{
  color: #313737;
    text-decoration: none;
    text-align:center;
    float:left;
    margin-left: -2em;
    margin-top: 0.2em;
    padding-bottom: 0.1em;
    padding-right:1em;
    padding-left:1em;
    font-family: "Oblik-Bold",Arial,sans-serif;
}
#main-menu #main-nav ul li a:hover {
    text-decoration: underline;
}
#main-menu #main-nav .menu_1{
    margin-left: 0em;
    margin-right: 0em;
}
#main-menu #main-nav .menu_2{
   margin-right:-0em;
}
#main-menu #main-nav .menu_3{
   margin-right:-0em;
}
#main-menu #main-nav .menu_4{
   margin-right:-0em;
}
#main-menu #main-nav .menu_5{
    border-right: 0 none;
    margin-right:-1em;
}
#main-menu #social-networks{
    overflow:hidden;
    padding: 0.7em 0;
}
#main-menu #social-networks object{
    float:right;
    border:none; 
    width:6.9em; 
    height:2em;
}
#main-menu #social-networks a{
  float:right;
    width:1.5em; 
    height:2em;
}
#main-menu #social-networks .twitter-icon{
    width:3.4em; display: block;
}
#main-menu #social-networks .google-icon{
    width:2em; 
}
#highlighted {
    margin-top: 4em;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
#highlighted #highlighted-article {
    float: left;
    padding: 0 30px 0 0;
    width: 320px;
    color: #3F4142;
    letter-spacing: -0.4px;
}
#highlighted #highlighted-article h2{
  text-shadow: 0 3px 2px #D7E7E9;
    border-top: 1px solid #FFFFFF;
    font-size: 42px;
    line-height: 0.5em;
    margin: 0 0 -2.5em;
    padding: 15px 0 0;
    width: 100%;
}
#highlighted #highlighted-article h1 {
  text-shadow: 0 3px 2px #D7E7E9;
    border-bottom: 1px solid #FFFFFF;
    font-size: 110px;
    line-height: 100px;
    margin-bottom: 10px;
    padding: 0 0 20px;
}
#highlighted #highlighted-article p {
    letter-spacing: -0.055em;
    line-height: 20px;
    margin: 0 0 15px 10px;
    font-size: 0.8em;
    margin-bottom: 20px;
    color: #222222;
}
#highlighted #highlighted-article .button {
  font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
    background-image: -moz-linear-gradient(center bottom , #588212 47%, #70A021 74%, #79AC27 87%);
    text-shadow: 2px 2px 2px #344C0E;
    border-color: #FFFFFF;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-style: solid;
    border-width: 0.1em;
    padding: 2% 4%;
    margin-left: 23.5%;
}
#highlighted #highlighted-article .button:hover {
    background-image: -moz-linear-gradient(center bottom , #588212 47%, #588212 74%, #588212 87%);
    text-shadow: 2px 2px 2px #344C0E;
    border-color: #FFFFFF;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-style: solid;
    border-width: 0.1em;
    padding: 2% 4%;
}
#body{
  margin-top: 3em;
  color: #262626;
  line-height: 113%;
}
#body article img{
  float:left;
  margin-top: -1em;
  /*margin-right: 1.5em;*/
}
#body h2 {
  margin-bottom: -2.5em;
  font-weight: bold;
    font-size: 0.8em;
    text-shadow: 0 3px 2px #D7E7E9;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
#body h1 {  
    font-size: 2em;
    font-weight: normal;
    letter-spacing: -0.4px;
    line-height: 38px;
    text-shadow: 0 1px 1px #D7E7E9;
}
#body article p a, #body article ul li, #body article p{
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 0.8em;
}
#body article ul{
  margin-top:-0.5em;
  margin-right: 5em;
  margin-left:5em;
}
#body article ul li{
  font-weight: normal;
  letter-spacing: -0.2px;
  margin-right: -3em;
  line-height: 1.4em;
}
#body article ul li strong{
  font-weight: bold;
}
#body article p a{
  font-weight: bold;
    line-height: 35px;
    color: #006394;
    text-decoration: none;
}
#body article p a:hover{
    color: #0099FF;
    text-decoration: underline;
}
#body article p {
  margin-top: -1em;
}
#body article .pricing {
  margin-top: -1em;
  font-size: 1em;
}
#body article .quote{
  color: #FFFFFF;
  font-size: 1.1em;
  font-style:italic;
  letter-spacing: -0.2px;
  margin-right: 3em;
  margin-left:5.5em;
}
#body article .credit-quote{
  margin-top:-1em;
  font-weight: bold;
  margin-left: 7.5em;
}
#body article .tips {
  margin-right: 1em;
  margin-top: -1em;
}
#body article .blog-img, #body article .bulb-img {
  margin-top: -2.5em;
  margin-bottom: 1em;
}
#body .box1{
  border-right: 1px solid #81A5B0;
  margin-bottom: 3em;
  width: 25.5em;
}
#body .box1 p{
  margin-right: 3em;
}
#body .box2 .blog-title{
  font-size: 1em;
  margin-top: -1em;
}
#body .box2{
  margin-left: 1.5em;
}
#body .box2 .blog-text{
  margin-top: -2em;
}
#body .box2 .blog-link{
  font-size: 1em;
  margin-top: -1em;
}
#postscript {
    background-color: #FFFFFF;
    clear: both;
    display: block;
    height: 1em;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 1em 22em;
    margin-left: -22em;
    width: 100%;
}
#postscript h1{
    color: #313737;
    font-size: 1.3em;
    margin-top:0.7em;
}
#postscript .menu-postscript{
    font-size:1em;
    float:left;
}
#postscript .menu-postscript-1 img{
    max-height: 2.5em;
    margin-top: 0.4em;
    margin-left: -3em;
}
#postscript .menu-postscript-2 h1{
    margin-left: -2.5em;
}
#postscript ul{
  margin-top: -2em;
    margin-right: 2em;
    list-style:none;
}
#postscript li{
    float:left;
}
#postscript .menu-postscript-1{
    width: 8em;
}
#postscript .menu-postscript-2{
    width: 24em;
}
#postscript .menu-postscript-3{
    width: 4.5em;
}
#postscript .menu-postscript-4{
    width: 19em;
}
#footer {
    background: url("../img/footer_background.png") repeat-x;
    background-color:#414142;
    height: 100%;
    padding: 1em 22em;
    color:white;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    margin-left: -22em;
    width: 100%;
}
#footer h1{
    color: #B3AD9E;
    font-size: 1.2em;
    line-height: 17px;
    margin-bottom: 7px;
    margin-top: 0;
    text-shadow: none;
}
#footer h2{
    border-right: 1px solid #999999;
    color: #AFCDD2;
    float: left;
    font-size: 0.9em;
    height: 45px;
    margin: 0 35px 0 0;
    padding: 16px 26px 0 0;
    text-shadow: none;
    vertical-align: middle;
}
#footer .footer-nav a{
    color: #FAFDFD;
    text-shadow: none;
}
#footer .footer-nav a:hover{
    text-decoration: underline;
}
#footer .menu {
    border-right: 1px solid #999999;
    float: left;
    height: 85px;
    margin-bottom: 25px;
    margin-left: -6em;
    margin-right: 4em;
    padding-left: 40px;
    padding-right: 0;
    width: 110px;
}
#footer .menu ul {
    list-style: none;
    margin-left: -3em;
    width: 8em;display: block;
}
#footer .menu-last {
    float: left;
    height: 85px;
    margin-bottom: 25px;
    padding-left: 40px;
    width: 110px;
}
#footer .menu-last p{
    width: 19em;
    font-weight:normal;
    color: #ECE9E3;
    font-size: 1em;
    text-align: right;
}
#footer .menu-last h6{
    text-indent: -9999px;
}
#footer .menu-last h6 a{
    background: url("../img/footer_logo.png") no-repeat scroll right top transparent;
    display: block;
    float: right;
    margin-top: 0.9em;
    margin-right:-20.2em;
    width: 6em;
    height: 6em;
}
#footer .bottom-footer {
    border-top: 1px solid #000000;
    margin-top: 1em;
    font-size: 0.7em;
}
#footer .bottom-footer ul li .footer-nav ul li{
    margin-right: -1em;
    line-height: 1.5em;
}
#footer .bottom-footer aside{
    margin-top: 2em;
    margin-left:6em;
}
#footer .bottom-footer aside p{
    line-height: 1.5em;
}

@font-face {
   font-family:"Oblik-Bold";
   src:url("../fonts/Oblik-Bold/Oblik_Bold.eot?") format("eot"),url("../fonts/Oblik-Bold/Oblik_Bold.woff") format("woff"),url("../fonts/Oblik-Bold/Oblik_Bold.ttf") format("truetype"),url("../fonts/Oblik-Bold/Oblik_Bold.svg#Oblik-Bold") format("svg");
   font-weight:normal;
   font-style:normal;
}
    
.button{
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style:solid;
    border-width:3px;
    padding: 5% 10%;
}

.button-green{
    color: #FFFFFF;
    background-image: linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -o-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -moz-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);
    background-image: -ms-linear-gradient(bottom, rgb(5,168,65) 47%, rgb(125,176,37) 74%, rgb(34,179,63) 87%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.47, rgb(5,168,65)),
        color-stop(0.74, rgb(125,176,37)),
        color-stop(0.87, rgb(34,179,63))
    );
}




/*HOW IT WORKS PAGE STYLES*/
p, a{
  font-family: Arial,Helvetica,sans-serif;
  font-weight:normal;
}
#how-it-works-box{
  margin-top:2em;
  h1{
    font-size: 2.3em;
    font-weight:normal;
  }
  header{
    height: 8em;
    background-color: #D7E9EB;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    box-shadow: 2px 2px 4px #999999;
    h2{
      font-size:6em;
      margin-top: 0.1em;
      margin-right: 0.1em;
      margin-left:0.3em;
      font-weight: normal;
    }
    h3 {
      font-size: 2em;
      font-weight: normal;
      margin-top: 0.9em;
      margin-right: -1.2em;
    }
    p{
      font-size: 0.8em;
      margin-top: 2.2em;
      letter-spacing: -0.2px;
      line-height: 1.4em;
      color: #3F4141;
      width: 38em;
    }
    .button{
        font-size: 1.5em;
        color: #FFFFFF;
        background-image: -moz-linear-gradient(center bottom , #588212 47%, #70A021 74%, #79AC27 87%);
        text-shadow: 2px 2px 2px #344C0E;
        border-color: #FFFFFF;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
        border-style: solid;
        border-width: 0.1em;
        padding: 0.5em;
        width: 4em;
        margin-left: 23em;
        margin-top: -3.5em;
        &:hover {
            background-image: -moz-linear-gradient(center bottom , #588212 47%, #588212 74%, #588212 87%);
            text-shadow: 2px 2px 2px #344C0E;
            border-color: #FFFFFF;
            border-radius: 0.5em 0.5em 0.5em 0.5em;
            border-style: solid;
            border-width: 0.1em;
            padding: 0.5em;
        }
    }
  }
  article{
    background-color: #D1E7E4;
    border-bottom: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-left: 1px solid #FFF;
    box-shadow: 2px 2px 4px #999999;
    font-size: 0.7em;
    text-align:center;
    ul{
      li{
        margin-top: -1em;
        list-style:none;
        width:17em;
        &:not(.omega){
          background-image: url('../img/hiw-arrow.png');
          background-repeat: repeat-y;
          background-position: right;
          padding-right:2em;
        }
        h1{
          font-size: 2em;
        }
        h2{
          font-weight:normal;
          font-size: 2em;
          margin-top: -0.1em;
        }
        img{
          margin-top: -1.5em;
        }
      }
      .alpha{
        h2{
          padding-bottom:1.2em;
        }
        a{
          margin-left:-3em;
          width:18.2em;
        }
      }
      .omega{
        a{
          width:17em;
        }
      }
      a{
        display:block;
        margin-left: -2em;
        margin-top: 0;
        width: 17.1em;
        background-color: #FFF;
        padding-bottom: 1em;
        padding-top: 1em;
        color: #006394;
        font-size: 1.2em;
        font-weight: bold;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#steps{
  nav{
    margin-top: 2em;
    ul{
      li{
        list-style:none;
        margin-bottom: 3em;
        aside{
          img{
            margin-left:-3em;
            width:16em;
            height:15em;
          }
        }
        article{
          margin-top:-1.7em;
          margin-left: 0.6em;
          h1{
            font-weight: bold;
            font-size: 1.4em;
            text-shadow: 0 1px 1px #FFFFFF;
            width: 4em;
            margin-left: -0.1em;
          }
          h2{
            width: 11em;
            margin-top:0.5em;
            font-weight:normal;
            font-size:2.3em;
          }
          p{
            float:left;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 0.8em;
            font-weight:normal;
            color: #3F4141;
            line-height:1.5em;
          }
          img{
            display:block;
            width: 120px;
            height:120px;
          }
        }
      }
    
     .section-1{
        article{
          margin-left: 0.6em;
          p{
            margin-right: 6em;
            margin-top: -1em;
            width: 33em;
            a{
              color: #006394;
              &:hover{
                text-decoration: underline;
                color: #0099FF;
              }
            }
          }
          img{
            margin-top:-5em;
          }
        }
      }
      .section-2{
        article{
          margin-left: 0.6em;
          p{
            margin-right: 6em;
            margin-top: -1em;
            width: 33em;
          }
          img{
            margin-top:-5em;
          }
        }
      }
      .section-3{
        article{
          margin-left: 0.6em;
          p{
            margin-right: 6em;
            margin-top: -1em;
            width: 33em;
          }
          img{
            margin-top:-5em;
          }
        }
      }
      .section-4{
        article{
          margin-left: 0.6em;
          p{
            margin-right: 6em;
            margin-top: -1em;
            width: 33em;
          }
          img{
            margin-top:-5em;
          }
        }
      }
   }
  }
}
/*PRICING PAGE STYLES*/
#pricing-box{
  letter-spacing: -0.1px;
  font-family: 'Oblik-Bold',Arial,sans-serif;
  color: #3F4142;
  margin-top: 2em;
  h1{
    font-size:2.4em;
    text-shadow: 0 1px 1px #D7E7E9;
    font-weight:normal;
  }
  ul{
      margin-left: -2.3em;
      .main{
        background: url("../img/pricing-short-background.png") no-repeat scroll 0 0 transparent;
        border: 0.1em solid #FFFFFF;
        margin: 0 9px 10px 0;
        h2{
          font-weight:normal;
          color: #006599;
          font-size:2em;
        }
        p{
          font-weight:normal;
          color:#262626;
          font-size: 1em;
          margin-top: -1.8em;
          width: 11em;
        }
        ul{
          list-style-type: disc;
          li{
            font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
            color:#262626;
            font-size:0.7em;
            line-height: 1.5em;
          }
        }
        img{
          width:100px;
          height:120px;
          margin-top: -1.4em;
        }
        h3{
          font-weight:normal;
          font-size: 4.5em;
          float:left;
          margin-top: 0.3em;
          margin-left: 1.4em;
          margin-bottom: -3em;
        }
        h4{
          font-weight:normal;
          font-size:1.4em;
          float:left;
          width:2em;
          margin-top:1.5em;
          margin-left: 6.5em;
        }
        h5{
          font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
          color:#222222;
        }
        .top{
          margin-left: 1em;
        }
        .deluxe{
          h3{
            font-size: 2em;
            float:none;
            margin-top: 2em;
            margin-left: 2.6em;
          }
          h4{
            float:none;
            width: 9em;
            margin-top:4em;
            margin-left: 2.8em;
            font-size:1.4em;
          }
        }
        .last{
          clear:both;
        }
        
      }
      a{
          display:block;
          float:left;   
          width: 6em;
       }
      .suscription{
        margin-top:23.2em;
        margin-left:-19.45em;
        background-color:#FFF;
        width: 12.9em;
        margin-left:-19.5em;
        padding:0.5em 0.5em 0.5em 5.5em;
      }
      .button-container{
        background-color:#666666;
        float:left;
        width:18em;
        height:5em;
        margin-top:25em;
        margin-left:-19.1em;
        box-shadow: 0 0.2em 0.08em #888888;
        .button-plan{
          margin-left: 2.5em;
          margin-top: 0.6em;
          font-size: 1.5em;
          font-weight: bold;
          color: #FFFFFF;
          background-image: -moz-linear-gradient(center bottom , #588212 47%, #70A021 74%, #79AC27 87%);
          text-shadow: 2px 2px 2px #344C0E;
          border-color: #FFFFFF;
          border-radius: 0.5em 0.5em 0.5em 0.5em;
          border-style: solid;
          border-width: 0.1em;
          padding: 0.5em 0 0.5em 0.5em;
          &:hover{
            background-image: -moz-linear-gradient(center bottom , #588212 47%, #588212 74%, #588212 87%);
            text-shadow: 2px 2px 2px #344C0E;
            border-color: #FFFFFF;
            border-radius: 0.5em 0.5em 0.5em 0.5em;
            border-style: solid;
            border-width: 0.1em;
            padding: 0.5em 0 0.5em 0.5em;
          }
       }
      }
    }
}
#frequently-asked-questions{
  aside{
    h1{
      background-color: #FFFFFF;
      padding-top:0.5em;
      padding-bottom:0.5em;
      font-weight:normal;
      color: #262626;
      padding-left: 0.5em;
      font-size:1.4em;
    }
    ul{
      list-style-type:none;
      margin-top:-1.4em;
      box-shadow: 0 0.2em 0.08em #888888;
      li{
        font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
        font-weight:normal;
        width:21.4em;
        padding-left:2em;
        margin-left: -3.1em;
        font-size: 0.8em;
        padding-bottom: 0.4em;
        padding-top: 0.4em;
        background: url("../img/bulletList.png") no-repeat scroll 4% center transparent;
        color:#262626;
        &:nth-child(odd){
           background-color: #DFEBED;
        }
        &:nth-child(even){
           background-color: #FFFFFF;
        }
      }
    }
  }
  #questions{
    letter-spacing: -0.1px;
    h1{
      font-weight:normal;
      text-shadow: 0 1px 1px #FFFFFF;
      font-size: 1.7em;
      color:#262626;
    }
    h3{
      font-weight: normal;
      margin-bottom: -0.8em;
      font-size:1em;
    }
    p{
      color:#262626;
      font-size:0.8em;
      line-height:1.4em;
    }
  }
}
